<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Medidas Preventivas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of optdata">
  <ion-card>
    <img alt="Silhouette of mountains" src="{{item.foto}}" />
    <ion-card-header>
      <ion-card-title>{{item.id}} : {{item.titulo}}</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
{{item.descripcion}}   
 </ion-card-content>
  </ion-card>
</div>
</ion-content>
