<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Medidas Preventivas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of optdata">
    <ion-card>
      <ion-card-header>
        <img alt="Silhouette of mountains" src={{item.foto}} />
        <ion-card-title>{{item.id}} : {{item.titulo}}</ion-card-title>
        <ion-card-subtitle>{{item.titulo}}</ion-card-subtitle>
      </ion-card-header>
      <ion-button fill="clear" (click)="presentPopover($event)">Info</ion-button>
      <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
        <ng-template>
          <ion-content class="ion-padding">{{item.descripcion}}</ion-content>
        </ng-template>
      </ion-popover>
    </ion-card>
  </div>
  
</ion-content>
