<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      alt="Alexander"
      src="assets/imagenes/Alexander.jpg"
      class="img-Alexander"
    />
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre y Apellido: </ion-label>
        <ion-textarea
          [readonly]="true"
          placeholder="Alexander Cruz"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Carrera: </ion-label>
        <ion-textarea
          [readonly]="true"
          placeholder="Desarrollo de Software"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button color="secondary" href="https://t.me/Alexandercs19"
          >Telegram</ion-button
        >
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Hector" src="assets/imagenes/hector.jpg" class="img-Alexander" />
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre y Apellido: </ion-label>
        <ion-textarea
          [readonly]="true"
          placeholder="Hector Medina"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Carrera: </ion-label>
        <ion-textarea
          [readonly]="true"
          placeholder="Desarrollo de Software"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button color="secondary" href="https://t.me/YUNE3NO"
          >Telegram</ion-button
        >
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Felix" src="assets/imagenes/felix.jpg" class="img-Alexander" />
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre y Apellido: </ion-label>
        <ion-textarea
          [readonly]="true"
          placeholder="Felix Castillo"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Carrera: </ion-label>
        <ion-textarea
          [readonly]="true"
          placeholder="Desarrollo de Software"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button color="secondary" href="https://t.me/Felixjunior30"
          >Telegram</ion-button
        >
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
