<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <h3 class="titulo">Unidades de Respuesta</h3>
  </ion-list>
  <div *ngFor="let item of optdata">
    <ion-card>
      <img alt="foto1" src="{{item.foto}}" />
      <ion-card-header>
        <ion-card-title>{{item.nombre}}</ion-card-title>
      </ion-card-header>

      <ion-card-content> {{item.descripcion}} </ion-card-content>
    </ion-card>
  </div>
</ion-content>
