<ion-header>
  <ion-toolbar>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
  <a href="/quiero"><ion-button expand="block" >Back</ion-button></a>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input placeholder="Nombre"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Number Apellido</ion-label>
      <ion-input  placeholder="Apellido"></ion-input>
    </ion-item>
  
        <ion-item>
      <ion-label>Ingrese su Cedula</ion-label>
      <ion-input type="number" placeholder="Cedula"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ingrese su contraseña</ion-label>
      <ion-input type="password" value="password"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Ingrese su Email</ion-label>
      <ion-input type="email" placeholder="email@ejemplo.com"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Ingrese su telefono</ion-label>
      <ion-input type="tel" placeholder="888-888-8888"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="login()">Enviar</ion-button>
</ion-content>
