<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <swiper
    [autoplay]="true"
    [keyboard]="true"
    [pagination]="true"
    [scrollbar]="true"
    [zoom]="true"
    effect="coverflow"
  >
    <ng-template swiperSlide
      ><img src="assets/inicio/1.png" style="width: 590px; height: 190px"
    /></ng-template>
    <ng-template swiperSlide
      ><img
        src="assets/inicio/2.png"
        style="width: 590px; height: 190px"
      />></ng-template
    >
    <ng-template swiperSlide
      ><img
        src="assets/inicio/3.jpg"
        style="width: 590px; height: 190px"
      />></ng-template
    >
    <ng-template swiperSlide
      ><img
        src="assets/inicio/4.jpg"
        style="width: 590px; height: 190px"
      />></ng-template
    >
    <ng-template swiperSlide
      ><img
        src="assets/inicio/5.jpg"
        style="width: 590px; height: 190px"
      />></ng-template
    >
  </swiper>
  <h2 class="Titulo-Noticias">Noticias</h2>
  <ion-card href="/noticias">
    <img
      alt="Silhouette of mountains"
      src="https://defensacivil.gob.do/media/zoo/images/x37_1aeda998876097bf31640df44ef0fdc8.jpeg"
    />
    <ion-card-header>
      <ion-card-title class="Titulo-Imagen"
        >Defensa Civil Reconoce la experiencia y dedicacionde su..
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="/noticias">
    <img
      alt="Silhouette of mountains"
      src="https://defensacivil.gob.do/media/zoo/images/x35_d5fd210521c6fbddc4ceb0f1cd63951d.jpeg"
    />
    <ion-card-header>
      <ion-card-title class="Titulo-Imagen"
        >Defensa Civil e Infoiles lanzan campaña a favor de la comunidad sorda
        en el país
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="/noticias">
    <img
      alt="Silhouette of mountains"
      src="https://defensacivil.gob.do/media/zoo/images/x34_b3bab171e170e07363f62d80527dbdc8.jpeg"
    />
    <ion-card-header>
      <ion-card-title class="Titulo-Imagen"
        >Defensa Civil y TV Imaginativa buscan capacitar técnicos de medios de..
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title class="Servicios-titulo"
        >Nuestros Servicios</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-item color="primary">
        <ion-thumbnail slot="start">
          <img
            alt="Silhouette of mountains"
            src="assets/imagenes/EXTRICACION_VEHICULAR-fit-1123x747.jpg"
          />
        </ion-thumbnail>
        <ion-label>Técnica de Extracción Y Extricación Vehicular</ion-label>
      </ion-item>
      <ion-item color="primary">
        <ion-thumbnail slot="start">
          <img
            alt="Silhouette of mountains"
            src="assets/imagenes/Salvamento_Acuatico_opt-fit-1000x666.jpg"
          />
        </ion-thumbnail>
        <ion-label>Salvamento Acuático</ion-label>
      </ion-item>
      <ion-item color="primary">
        <ion-thumbnail slot="start">
          <img
            alt="Silhouette of mountains"
            src="assets/imagenes/Atencion_Prehospitalaria_opt-fit-399x267.jpeg"
          />
        </ion-thumbnail>
        <ion-label>Atención Pre-hospitalaria </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
