<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title
        >Defensa Civil: Héroes sin capa de la Republica
        Dominicana</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <iframe src="assets/videos/video2.mp4" frameborder="0"></iframe>
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title
        >RCP para una persona con paro cardiorespiratorio</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <iframe src="assets/videos/video1.mp4" frameborder="0"></iframe>
    </ion-card-content>
  </ion-card>
</ion-content>
